body {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}



#boot-screen {
    position: fixed;
    inset: 0;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boot-content {
    text-align: center;
}

.logo {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 8px;
}

.desktop-icon {
  width: 80px;
  text-align: center;
  color: white;
  font-family: Tahoma;
  font-size: 12px;
  cursor: pointer;
  margin: 20px;
}

.desktop-icon img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

.window {
  position: absolute;
  top: 80px;
  left: 200px;
  width: 300px;
  background: #c0c0c0;
  border: 2px solid #000;
  font-family: Tahoma;
}

.title-bar {
  background: navy;
  color: white;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.title-bar { cursor: move; }

.title-bar {
  user-select: none;
}

.subtitle {
    color: #aaa;
    margin-bottom: 30px;
}

.loader {
    width: 300px;
    height: 24px;
    border: 2px solid white;
    overflow: hidden;
    position: relative;
}

.block {
    width: 60px;
    height: 100%;
    background: dodgerblue;
    position: absolute;
    animation: move 1.2s linear infinite;
}

@keyframes move {
    from {
        left: -60px;
    }
    to {
        left: 300px;
    }
}

#desktop {
  display: none;
  width: 100vw;
  height: 100vh;
  background: url('https://wallpapercave.com/w/wp2808001.jpg') center/cover no-repeat;
}

.window {
    position: absolute;
    width: 280px;
    background: #dcdcdc;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
    font-size: 12px;
}

/* top bar */
.titlebar {
    background: linear-gradient(90deg, #808080, #645180);
    color: white;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* buttons */
.buttons span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    margin-left: 3px;
    border: 1px solid black;
}

.fade-out {
    animation: fadeOut 1.2s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}